body{
margin: 0 auto !important;
}

.header{
  margin-top: 5px;
  margin-bottom: 15px;
}
.logo{
  width: 150px;
}

.cardbody{
  display: flex;
}
.top10{
  display: flex;

  justify-content: center;
}
.button-typemovie{
  margin-top: 30px;
  margin-bottom: 20px;
}
h1 { font-family: 'Enriqueta', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 15px; font-weight: bold; }


  .bouncy{
  animation:bouncy 5s infinite linear;
  position:relative;
    }

    .movieList{
      display: flex;
      flex-wrap: wrap;}

    .MovieCard-part{
      width: 45%;
     
    }


    .container {
      position: relative;
    }
 
   .description-scroll{
     overflow: scroll;
     height: 100px;
     font-family: 'Helvetica Neue', sans-serif; 
     font-size: 16px; 
     line-height: 24px; 
     margin: 0 0 24px; 
     text-align: justify; 
     text-justify: inter-word; }
   
.date{
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 16px; 
  line-height: 24px; 

}

    .card-movie{
      min-width: 40vw;
      margin-top: 15px;
    }
    
    .bodydiv{
      width: 80%;
    
    }

    @media only screen and (max-width: 768px) {
      .bodydiv{
        width: 100%;
      
      }
    }


.searchbox{
  margin-left: 50px;
}

   

.navbar{
  margin-left: 70px;
  margin-right: 130px;
} 
       
    
.movieName{
color: #111; 
font-family: 'Helvetica Neue', sans-serif; 
font-size: 25px; 
font-weight: bold; 
letter-spacing: -1px; 
line-height: 1; 
text-align: left; 
}



.img{
  height: 600px;
}

.genres-button{
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: 5px;
  align-items: center;
}